<footer id="footer">
    <div class="container">
        <div class="row">

            <!-- LEFT : OUR VISION -->
            {{ if isset .Site.Params "about_us" }}
            <div class="col-md-4 col-sm-6">
                <h4>{{ i18n "aboutUs" }}</h4>
                {{ .Site.Params.about_us | safeHTML }}
                <hr class="hidden-md hidden-lg hidden-sm">
            </div>
            {{ end }}

            <!-- CENTER : QUICK LINKS -->
            <div class="col-md-4 col-sm-6">
                <h4>Quick Links</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="{{ "/about_us" | relURL }}">About Us</a></li>
                    <li><a href="{{ "/special_tours" | relURL }}">Tour Packages</a></li>
                    <li><a href="{{ "/faq" | relURL }}">FAQ</a></li>
                    <li><a href="{{ "/contact/" | relURL }}">Contact</a></li>
                </ul>
                <hr class="hidden-md hidden-lg">
            </div>

            <!-- RIGHT : CONTACT -->
            {{ if isset .Site.Params "address" }}
            <div class="col-md-4 col-sm-6 footer-contact">
    <h4>Address</h4>

    {{ .Site.Params.address | safeHTML }}

    <hr class="hidden-md hidden-lg hidden-sm">
</div>

            {{ end }}

        </div>
    </div>
</footer>

<!-- COPYRIGHT -->
<div id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ if isset .Site.Params "copyright" }}
          <p class="footer-copyright">
            {{ .Site.Params.copyright | safeHTML }}
          </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<!-- /#copyright -->

