<head>
  <!-- ================= ORGANIZATION LOGO (GOOGLE) ================= -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "{{ .Site.BaseURL }}",
  "name": "{{ .Site.Title }}",
  "logo": "{{ "img/logo-512.png" | absURL }}"
}
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>

  <!-- Link to your hero CSS -->
  <link rel="stylesheet" href="{{ "/css/hero.css" | relURL }}">
</head>
